<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Admin login</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Modish Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="../static/adminlogin/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="../static/adminlogin/css/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>
	<!-- title --><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn--radius-2 btn--blue" type="submit"><font color="green"><a href="/">&nbsp;&nbsp;<b>BACK</b></font></button></a>
		
	</div>
	<h1>
		
		<span>L</span>ogin
		<span>F</span>orm
	</h1>
	<!-- //title -->

	<!-- content -->
	<div class="sub-main-w3">
		<form class="login" action="/adminlog" method="post">
			<p class="legend">Login Here<span class="fa fa-hand-o-down"></span></p>
			{{ form.hidden_tag() }}

			<div class="input">
				{{ form.email.label(class="form-control-label") }}
				{% if form.email.errors %}
					{{ form.email(class="form-control form-control-lg is-invalid") }}

					<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.email(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="input">
				{{ form.password.label(class="form-control-label") }}
				{% if form.password.errors %}
					{{ form.password(class="form-control form-control-lg is-invalid") }}

					<div class="invalid-feedback">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.password(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<button type="submit" class="submit">
				{{ form.submit(class="btn btn-outline-info") }}
			</button>

			<button class="btn btn--radius-2 btn--blue" type="submit"><font color="blue"><a href="/regfarmer">Agriculture Section</font></button></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
			<button class="btn btn--radius-2 btn--blue" type="submit"><font color="green"><a href="/animalsect_reg">Animal Section</font></button></a>
		
		
		</form>
	</div>
	
	<!-- //content -->

	<!-- copyright -->
	<div class="footer">
		<h2>
			
		</h2>
	</div>
	<!-- //copyright -->

</body>

</html>