
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title></title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../static/user/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/user/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/user/css/font-awesome.css" rel="stylesheet">
	<!--pop-up-box-->
	<link href="../static/user/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!--//pop-up-box-->
	<!-- price range -->
	<link rel="stylesheet" type="text/css" href="../static/user/css/jquery-ui1.css">
	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
	<!-- top-header -->

	<!-- //top-header -->
	<!-- header-bot-->
	<div class="header-bot" style="background: linear-gradient(
    45deg
    , #207dff 0%, #00bd55 100%);">
		<div class="header-bot_inner_wthreeinfo_header_mid">
			<!-- header-bot-->
			<div class="col-md-4 logo_agile">
				<h1>
					<a href="/">
						<span style="color: white;">Agro</span> Tech
						
					</a>
				</h1>
			</div>
			<!-- header-bot -->

			<div class="clearfix"></div>
		</div>
	</div>
	<!-- shop locator (popup) -->
	<!-- Button trigger modal(shop-locator) -->
	
	<!-- //shop locator (popup) -->
	<!-- signin Model -->
	<!-- Modal1 -->
	<div class="modal fade" id="cart" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Add To Cart </h3>
						
						<form action="" method="post" method="POST">
							<div class="styled-input agile-styled-input-top">
    
								<div class="styled-input agile-styled-input-top">
									<input type="text" placeholder="Name" name="Name" required="">
								</div>
							</div>
							
						</form>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
	</div>
	<!-- //Modal1 -->
	<!-- //signin Model -->
	<!-- signup Model -->
	<!-- Modal2 -->
	
	<!-- //Modal2 -->
	<!-- //signup Model -->
	<!-- //header-bot -->
	<!-- navigation -->
	<div class="ban-top">
		<div class="container">
			<div class="agileits-navi_search">
				
			</div>
			<div class="top_nav_left">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
							    aria-expanded="false">
								<span class="sr-only"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav menu__list">
								<li class="active">
									<a class="nav-stylehead" href="/f_layout">Home
										<span class="sr-only">(current)</span>
									</a>
								</li>
					
								<li class="dropdown">
									<a class="nav-stylehead dropdown-toggle" href="#" data-toggle="dropdown">Scheme
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu agile_short_dropdown">
										<li>
											<a class="nav-stylehead" href="/common_agri">Farmer registration</a>
										</li>
                    <li>
											<a class="nav-stylehead" href="/com_pmk">PM Kisan</a>
										</li>
                    <li>
											<a class="nav-stylehead" href="/com_soilh">Soil Health</a>
										</li>
                    <li>
											<a class="nav-stylehead" href="/com_cropins">Crop Insurance</a>
										</li>
                    <li>
											<a class="nav-stylehead" href="/com_shm">SHM Registration</a>
										</li>
                    <li>
											<a class="nav-stylehead" href="/com_pension">Pension</a>
										</li>
                    <li>
											<a class="nav-stylehead" href="/com_calamity">Natural Calamity Scheme</a>
										</li>
                    
										<li>
											<a class="nav-stylehead" href="com_onecrore">One-Crore Crop</a>
										</li>
									
									</ul>
								</li>
								
								
                <li class="dropdown">
									<a class="nav-stylehead dropdown-toggle" href="#" data-toggle="dropdown">Subsidy
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu agile_short_dropdown">
										<li>
											<a class="nav-stylehead" href="/com_poly">Polyhouse</a>
										</li>
                    <li>
											<a class="nav-stylehead" href="/com_elect">Electricity</a>
										</li>
                    <li>
											<a class="nav-stylehead" href="/com_ferti">Fertilizers</a>
										</li>
                    <li>
											<a class="nav-stylehead" href="/com_mac">Machines</a>
										</li>
                  </ul>
                  <li class="">
                    <a class="nav-stylehead" href="/com_loan">Loan</a>
                  </li>

                  <li class="dropdown">
                    <a class="nav-stylehead dropdown-toggle" href="#" data-toggle="dropdown">More
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu agile_short_dropdown">
                      <li>
                        <a class="nav-stylehead" href="view_soiltest">Soil Test Appointment</a>
                      </li>
                      <li>
                        <a class="nav-stylehead" href="/vtraining_cen">Training Class Appointment</a>
                      </li>
                      <li>
                        <a class="nav-stylehead" href="mac_rentview">Machine For Rent</a>
                      </li>
                      
                    </ul>
								<li class="">
									<a class="nav-stylehead" href="/view_prod">View Product</a>
								</li>
								
                <li class="">
									<a class="nav-stylehead" href="/view_notification"> Notifications</a>
								</li>
                <li class="">
									<a class="nav-stylehead" href="/addfeed">Feedback</a>
								</li>
							
								
								<li class="">
									<a class="nav-stylehead" href="/logout">Logout</a>
								</li>
						
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>

	
	
  
	<!-- //navigation -->
	<!-- banner -->

{%block content%}


{% endblock %}
	<!-- top Products -->

	<!-- //top products -->
	<!-- special offers -->
	
	<!-- //special offers -->
	<!-- newsletter -->

	<!-- //newsletter -->
	<!-- footer -->

	<!-- //footer -->
	<!-- copyright -->
	<div class="copy-right">
		<div class="container">
			<p>
				<a href=""> </a>
			</p>
		</div>
	</div>
	<!-- //copyright -->
	
	<!-- js-files -->
	<!-- jquery -->
	<script src="../static/user/js/jquery-2.1.4.min.js"></script>
	<!-- //jquery -->

	<!-- popup modal (for signin & signup)-->
	<script src="../static/user/js/jquery.magnific-popup.js"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- Large modal -->
	<!-- <script>
		$('#').modal('show');
	</script> -->
	<!-- //popup modal (for signin & signup)-->

	<!-- cart-js -->
	<script src="../static/user/js/minicart.js"></script>
	<script>
		paypalm.minicartk.render(); //use only unique class names other than paypalm.minicartk.Also Replace same class name in css and minicart.min.js

		paypalm.minicartk.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- price range (top products) -->
	<script src="../static/user/js/jquery-ui.js"></script>
	<script>
		//<![CDATA[ 
		$(window).load(function () {
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 9000,
				values: [50, 6000],
				slide: function (event, ui) {
					$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
				}
			});
			$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

		}); //]]>
	</script>
	<!-- //price range (top products) -->

	<!-- flexisel (for special offers) -->
	<script src="../static/user/js/jquery.flexisel.js"></script>
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<!-- //flexisel (for special offers) -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

	<!-- smoothscroll -->
	<script src="../static/user/js/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="../static/user/js/move-top.js"></script>
	<script src="../static/user/js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- for bootstrap working -->
	<script src="../static/user/js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->


</body>

</html>


<style>
	
.newbutton 
{
    font-size: 13px;
    color: #fff;
    background: #1accfd;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}
</style>
