{% extends 'adlayout.html' %}
    {% block content %}
    <form method="POST" action='' enctype="multipart/form-data">
        <br>
          <h2 align="center">Add Magazines</h2>
          <div class="well1 white" style="    width: 900px;
          margin-left: 359px;
          margin-top: 103px;">
            <form class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern" novalidate="novalidate" ng-submit="submit()">
                {{form.hidden_tag()}}
        
        
                <fieldset class="form-group" >
                
        
            
                  {{ form.name.label(class="form-control-label") }}
                    <div class="form-group" style="border: 1px solid #b9adad !important">
                       {% if form.name.errors %}
                          {{ form.name(class="form-control1 ng-invalid ng-invalid-required ng-touched") }}
                          <div class="invalid-feedback" >
                          {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                          </div>
                          {% else %}
                      {{ form.name(class="form-control form-control-lg") }}
                 {% endif %}
            </div>
        
            {{ form.author.label(class="form-control-label") }}
            <div class="form-group" style="border: 1px solid #b9adad !important">
               {% if form.author.errors %}
                  {{ form.author(class="form-control1 ng-invalid ng-invalid-required ng-touched") }}
                  <div class="invalid-feedback" >
                  {% for error in form.author.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                  </div>
                  {% else %}
              {{ form.author(class="form-control form-control-lg") }}
         {% endif %}
        </div>
        
                  {{ form.publisher.label(class="form-control-label") }}
                    <div class="form-group" style="border: 1px solid #b9adad !important">
                       {% if form.publisher.errors %}
                          {{ form.publisher(class="form-control1 ng-invalid ng-invalid-required ng-touched") }}
                          <div class="invalid-feedback" >
                          {% for error in form.publisher.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                          </div>
                          {% else %}
                      {{ form.publisher(class="form-control form-control-lg") }}
                 {% endif %}
            </div>
        
        
            {{ form.features.label(class="form-control-label") }}
            <div class="form-group" style="border: 1px solid #b9adad !important">
                {% if form.features.errors %}
                    {{ form.features(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.features.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.features(class="form-control form-control-lg") }}
                {% endif %}
            </div>  

            {{ form.rupees.label(class="form-control-label") }}
            <div class="form-group" style="border: 1px solid #b9adad !important">
                {% if form.rupees.errors %}
                    {{ form.rupees(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.rupees.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.rupees(class="form-control form-control-lg") }}
                {% endif %}
            </div> 
            
            
            <div class="form-group">
                    {{ form.pic.label() }}
                    {{ form.pic(class="form-control-file") }}
                    {% if form.pic.errors %}
                        {% for error in form.pic.errors %}
                            <span>{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
              </div>
              <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
              {% if action %}
             <button type="submit" class="btn btn-primary" value="addagent" onclick="myFunction()">SAVE</button>
              {% endif %}
              </div>
          </div>
          </fieldset>
        </form>
        <br>
    

    {% endblock %}