{% extends 'flayout.html' %}
    {% block content %}
  
 <section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2>SHEMES FOR FARMERS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="block-7">
          <div class="img" style="background-image: url(../static/images/soil.jpg);"></div>
          <div class="text-center p-4"><br>
            <span class="excerpt d-block">SHM Application Form</span>
            <span class="price"><sup></sup> <span class="number"></span> <sub></sub></span>
          <br>
    <a href="/shmreeg" class="btn btn-primary d-block px-2 py-3">Apply Now</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 ftco-animate">
        <div class="block-7">
          <div class="img" style="background-image: url(../static/images/seed.jpg);"></div>
          <div class="text-center p-4"><br>
            <span class="excerpt d-block">One crore fruit plant Distribution</span>
            <span class="price"><sup></sup> <span class="number"></span> <sub></sub></span>
      <a href="/one_crore" class="btn btn-primary d-block px-2 py-3">Apply Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="block-7">
          <div class="img" style="background-image: url(../static/images/machine.png);"></div>
          <div class="text-center p-4"><br>
            <span class="excerpt d-block">PM KISAN</span>
            <span class="price"><sup></sup> <span class="number"></span> <sub></sub></span><br>
          <a href="/pmkisan" class="btn btn-primary d-block px-2 py-3">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
  
  
  

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-5 heading-section text-center ftco-animate">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="block-7">
          <div class="img" style="background-image: url(../static/images/soil.jpg);"></div>
          <div class="text-center p-4"><br>
            <span class="excerpt d-block">PMKMDY</span>
            <span class="price"><sup></sup> <span class="number"></span> <sub></sub></span><br>
            <a href="/pmk_maandhan" class="btn btn-primary d-block px-2 py-3">Apply Now</a>
          </div>
        </div>
      </div>
 <div class="col-md-4 ftco-animate">
  <div class="block-7">
    <div class="img" style="background-image: url(../static/images/seed.jpg);"></div>
    <div class="text-center p-4"><br>
      <span class="excerpt d-block">National Bamboo Mission</span>
      <span class="price"><sup></sup> <span class="number"></span> <sub></sub></span><br>
  <a href="/bamboo" class="btn btn-primary d-block px-2 py-3">Apply Now</a>
    </div>
  </div>
</div>
 
<div class="col-md-4 ftco-animate">
  <div class="block-7">
    <div class="img" style="background-image: url(../static/images/machine.png);"></div>
    <div class="text-center p-4"><br>
      <span class="excerpt d-block">CROP HEALTH CARD SCHEME</span>
      <span class="price"><sup></sup> <span class="number"></span> <sub></sub></span><br>
    <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
    </div>
  </div>
</div>

</section>
{% endblock %}