
 {% extends 'layout.html' %}
 {% block content %}
 <br>
 &nbsp;&nbsp;&nbsp;&nbsp;

 <section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        
      </div>
    </div>
<center>
<div class="row">
    <div class="col-md-6 ftco-animate">
  <div class="block-7">
      <div class="img" style="background-image: url(../static/images/seed.jpg);"></div>
    <div class="text-center p-4">
        <span class="excerpt d-block">Agriculture Sector</span>
       <br>
        <a href="/flayout" class="btn btn-primary d-block px-2 py-3">Get Started</a>
    </div>
  </div>
</div>

<div class="col-md-6 ftco-animate">
    <div class="block-7">
        <div class="img" style="background-image: url(../static/images/animalf.jpg);"></div>
      <div class="text-center p-4">
        <span class="excerpt d-block">Animal Sector</span>  
        <span class="excerpt d-block"></span>  
<br>
          <a href="/flayout" class="btn btn-primary d-block px-2 py-3">Get Started</a>
      </div>
    </div>
  </div>
</center>
<br><br>



{% endblock %}